body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#carousel-title {
  font-size: 24pt;
}

.legend {
  background: transparent;
}

#linking {
  text-decoration: none;
  color: white;
}

#main {
  height: 150px;
}

.home {
  padding-top: 5%;
}

#grid_system {
  padding-top: 10%;
}

#pull-right {
  padding-left: 31%;
}

#personal-info {
  padding-left: 28%;
  font-size: 45px;
}

#username {
  text-align: center;
  padding-top: 1%;
}

#new {
  padding-top: 15%;
}

#form {
  padding-top: 10%;
  width: 60%;
  padding-left: 30%;
}

#button {
  text-align: center;
  outline: none;
}

#the-btn {
  padding-left: 10%;
  top: 500%;
}

.yellow-with-large-padding {
  padding: 20px !important;
  background: yellow;
}

#username {
  text-transform: capitalize;
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
}

.link-button:hover,
.link-button:focus {
  text-decoration: none;
  color: #eeeed1 !important;
  font-weight: bold !important;
}

$primary-color: black;
@import "loaders.css/src/animations/semi-circle-spin.scss";

.loader-hidden {
  display: none;
}

.loader-active {
  display: block;
}

.tags {
  list-style-type: none;
  text-align: left;
  padding: 1%;
}

.tags .tag {
  float: left;
  border: 1px solid rgb(173, 171, 171);
  border-radius: 5px;
  padding: 2px;
  color: grey;
  background: rgb(233, 233, 233);
  transition: all 0.3s;
}

.tags .tag:hover {
  border: 1px solid grey;
  cursor: pointer;
  background: rgb(179, 177, 177);
}

.mini-tags .mini-tag {
  float: left;
  border: 1px solid rgb(173, 171, 171);
  padding: 2px;
  border-radius: 5px;
  color: grey;
  background: rgb(233, 233, 233);
  transition: all 0.3s;
}

.mini-tags .mini-tag:hover {
  border: 1px solid grey;
  cursor: pointer;
  background: rgb(179, 177, 177);
}

#username {
  text-align: center;
  padding-top: 1%;
}

.article-content {
  padding-top: 25px;
  padding-left: 25%;
  padding-right: 15%;
}

.pull-right {
  float: right;
}

.read-time {
  color: grey;
}

.item {
  font-size: 11pt;
}

#logo {
  font-size: 16pt;
}

.intro-profile {
  width: 20%;
}

#pagination {
  padding-top: 9%;
  padding-left: 40% !important;
  position: relative;
  bottom: 0;
  width: 100%;
  padding-bottom: 2%;
}

.articleEditor {
  margin: auto;
  background: white;
  padding: 8% 10%;
}

.intro-title {
  padding-top: 15px;
}

#clock {
  padding-left: 3%; 
}
#read{
  padding-left: 3%; 
}

.userArticlesCards{
  margin: auto;
  background: white;
  padding: 8% 10%;
}

.articleCard{
  padding-bottom: 15px;
}

.imageCard{
    width: 100%;
    height: 200px;
}
.comment-container{
  padding-bottom: 120px;
}
