#button {
  width: 100%;
}

.menu {
  padding: 0 1em 0 1em;
}

input {
  width: 100%;
}

#input-holder {
  padding: 0;
}

.modals {
  padding: 25px;
}

a:hover {
  cursor: pointer;
}

#login-button {
  width: 100%;
  background: transparent;
  font-weight: bolder;
  font-size: 1.2em;
  box-shadow: none !important;
}

input {
  width: 100%;
}

#input-holder {
  padding: 0;
}

.modals {
  padding: 25px;
}

a:hover {
  cursor: pointer;
}

#reg-input .field {
  margin: 0;
  padding: 0;
  min-width: 100%;
}

#reg-input .field .input {
  margin: 0.8em 0 0.8em 0;
  padding: 0;
  width: 100%;
}

#reg-header {
  font-size: 2em;
  font-weight: bolder;
  margin: 1em 0 0 0 !important;
  text-align: left !important;
}

#regModal div {
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0 5% 0 5%;
}

#regModal #regBtn {
  color: black;
  width: 100%;
  margin: 1em 0 2em 0 !important;
}

.body {
  width: 750px;
}

.body p img {
  width: 750px;
  padding: 20px 0;
  }

.legend {
  background: transparent;
  border: 1px;
  height: 2.5em;
  font-size: 1.2em;
  margin: 0.8em 0 2em 0;
  padding: 0 5% 0 5%;
}

#regModal .error {
  color: red;
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
  outline: none;
}

.home {
  padding-top: 5%;
}

#grid_system {
  padding-top: 10%;
}

#pull-right {
  padding-left: 31%;
}

#personal-info {
  padding-left: 28%;
  font-size: 45px;
}

#username {
  text-align: center;
  padding-top: 1%;
}

#new {
  padding-top: 15%;
}

#form {
  padding-top: 10%;
  width: 60%;
  padding-left: 30%;
}

#button {
  text-align: center;
  outline: none;
}

#the-btn {
  padding-left: 40%;
  top: 500%;
}

.yellow-with-large-padding {
  padding: 20px !important;
  background: yellow;
}

#username {
  text-transform: capitalize;
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
}

.link-button:hover,
.link-button:focus {
  text-decoration: none;
}

$primary-color: black;
@import "loaders.css/src/animations/semi-circle-spin.scss";

.loader-hidden {
  display: none;
}

.loader-active {
  display: block;
}

.tags {
  list-style-type: none;
  text-align: left;
  padding: 1%;
}

.tags .tag {
  float: left;
  border: 1px solid rgb(173, 171, 171);
  border-radius: 5px;
  padding: 2px;
  color: grey;
  background: rgb(233, 233, 233);
  transition: all 0.3s;
}

.tags .tag:hover {
  border: 1px solid grey;
  cursor: pointer;
  background: rgb(179, 177, 177);
}

.mini-tags {
  list-style-type: none;
  text-align: left;
  padding: 1%;
}

.mini-tags .mini-tag {
  float: left;
  border: 1px solid rgb(173, 171, 171);
  padding: 2px;
  border-radius: 5px;
  color: grey;
  background: rgb(233, 233, 233);
  transition: all 0.3s;
}

.mini-tags .mini-tag:hover {
  border: 1px solid grey;
  cursor: pointer;
  background: rgb(179, 177, 177);
}

#username {
  text-align: center;
  padding-top: 1%;
}

.article-content {
  padding-top: 25px;
  padding-left: 25%;
  padding-right: 15%;
}

.single-article {
  padding-top: 3em;
  padding-left: 8%;
}

.single-article .intro-author {
  color: grey;
  padding-left: 77%;
}

.single-article .intro-image {
  max-width: 0%;
}

.single-card {
  margin: 1%;
}

.intro-content {
  padding-left: 200px;
  width: 850px;
}

.intro-image {
  padding-top: 25px;
}

.intro-header {
  padding-left: 200px;
  width: 850px;
  padding-top: 2%;
}

.item {
  font-size: 11pt;
}

#logo {
  font-size: 16pt;
}

.avatar {
  padding-top: 0.1%;
  display: block;
}
.profile {
  display: flex;
  flex-direction: row;
  margin-top: 2em;
}

.name-follow {
  margin: 0 2em 0 2em;
}

.intro-profile {
  width: 15%;
}

.user-username {
  text-transform: capitalize;
  font-weight: 900;
  font-size: 1.5em;
  padding: 0 !important;
  margin: 0 0 0.2em 0 !important;
}
.follow-button {
  text-align: center !important;
  line-height: 1em !important;
  margin: 0.2em 0 0 0 !important;
  padding: 0.5em !important;
}

.follow-button:hover {
  background-color: #967f2e !important;
}

.ui-alerts {
  z-index: 0 !important;
}

#main {
  height: 150px;
}

.pull-right {
  float: right;
}

.read-time {
  color: grey;
  margin-left: 2em;
}

.slider {
  height: 70vh !important;
}

#hover:hover {
  background: rgb(91, 253, 91) !important;
}

.star-rating {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
}
.rateIcon {
  color: black;
}

.article-rating {
  font-weight: 900;
  margin-bottom: 0.5em;
  font-size: 2em;
  font-style: italic;
  align-self: center !important;
}

.header {
  text-transform: capitalize;
}
div.thumbs-wrapper.axis-vertical {
  visibility: hidden !important;
  height: 0 !important;
}

.star-icon {
  color: #e5e500;
}
.icon-username {
  margin-right: 1em;
}

img.ui.avatar.image {
  min-height: 3em;
  min-width: 3em;
}

.user-trigger {
  margin: -1em 0 0 0;
}

.rating-bar {
  margin: 1em 0 2em 0 !important;
}
.like-dislike-buttons {
  margin-left: 30% !important;
}

.rate-like {
  display: flex;
  flex-direction: row;
  align-items: space-around;
}

.no-rating {
  padding-right: 180px;
}
