#button {
    width: 100%;
}


input {
    width: 100%;
}

#input-holder  {
    padding: 0;
}


.modals {
    padding: 25px;
}

a:hover{
    cursor: pointer;
}

#grid_system{
    padding-top: 10%;
}

#pull-right {
    padding-left: 31%;
}

#personal-info{
    padding-left: 28%;
    font-size: 45px;
}

#username{
    text-align: center;
    padding-top: 1%;
 
}

#new{
    padding-top: 15%;
}

#form{
    padding-top: 10%; 
    width: 60%;
    padding-left: 30%;
}


#button{
    padding-right: 65%;
}

#the-btn {
    padding-left: 40%;
    top: 500%;
}

.yellow-with-large-padding {
    padding: 20px !important;
    background: yellow;
  }

#username {
    text-transform: capitalize;
}